<aside class="text-xs flex flex-col overflow-y-auto justify-start font-light  h-full  w-80 uppercase">
  <h1 class="text-xl my-4 font-bold text-center capitalize ">Transporte Público</h1>
  <div class="flex flex-col justify-between h-screen">
    <div class="mx-2">
      <a routerLink="Expedientes" routerLinkActive="bg-[#bed000] text-white"
        class="block  px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Expedientes</a>

      <a routerLink="Apertura" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Apertura</a>

      <a routerLink="Inhibitorio" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Inhibitorio</a>

      <a routerLink="Pruebas" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Pruebas</a>

      <a routerLink="Aceptacion-cargos" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Aceptacion de cargos</a>

      <a routerLink="Fallo" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Fallo</a>

      <a routerLink="Recurso-primera-instancia" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Recursos de Primera Instancia</a>

      <a routerLink="Recurso-segunda-instancia" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Recursos de Segunda Instancia</a>

      <a routerLink="Recurso-queja-revocatoria-directa" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Recurso de queja o revocatoria
        directa</a>

      <a routerLink="Ejecutoria" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Ejecutoria</a>

      <a routerLink="Gestion-cobro" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Gestión de cobro</a>

      <a routerLink="Ajuste-derecho-aclaratorio" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Ajuste en Derecho Aclaratorio</a>

      <a routerLink="Estado" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Estado</a>

      <a routerLink="Asignacion" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Asignado</a>

      @if(Rol === 'Admin'){
      <a routerLink="Administrador-usuarios" routerLinkActive="bg-[#bed000] text-white"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white">Usuarios</a>
      }
    </div>

    <a (click)="logout()"
      class="top-6 flex justify-start gap-2 items-center text-sm mx-2 mt-10 px-4 py-2 font-semibold lowercase text-[#3535349a] bg-[#35353408]   hover:bg-[#35353423] cursor-pointer text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5"
        stroke="#3535349a" class="" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
        <path d="M9 12h12l-3 -3" />
        <path d="M18 15l3 -3" />
      </svg>
      <span>Cerrar Sesión</span>
    </a>

  </div>
</aside>
