<aside class="text-xs flex flex-col overflow-y-auto justify-start font-light  h-full  w-82 uppercase pb-2">
  <div class="sticky top-0 p-5 bg-white mb-6">
    <h1 class="  text-xl font-bold text-center capitalize ">Transporte Público</h1>
    <img src="https://www.movilidadbogota.gov.co/web/sites/default/files/logo-sdm.png" alt="">

  </div>

  <div class="flex flex-col justify-between h-screen">
    <div class="mx-2 flex gap-2 flex-col">

      <a routerLink="Expedientes" routerLinkActive="bg-[#bed000] text-white tracking-widest "
        class=" block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Expediente</a>

      <a routerLink="Apertura" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Apertura</a>

      <a routerLink="Inhibitorio" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Inhibitorio</a>

      <a routerLink="Acumulacion" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Auto Acumulacion</a>

      <a routerLink="Pruebas" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Pruebas</a>

      <a routerLink="Aceptacion-cargos" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Aceptacion de cargos</a>

      <a routerLink="Fallo" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Fallo</a>

      <a routerLink="Recurso-primera-instancia" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Recursos de Primera
        Instancia</a>

      <a routerLink="Recurso-segunda-instancia" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Recursos de Segunda
        Instancia</a>

      <a routerLink="Recurso-queja-revocatoria-directa" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Recurso de queja o revocatoria
        directa</a>

      <a routerLink="Ejecutoria" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Ejecutoria</a>

      <a routerLink="Gestion-cobro" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Gestión de cobro</a>

      <a routerLink="Ajuste-derecho-aclaratorio" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Ajuste en Derecho
        Aclaratorio</a>

      <a routerLink="Estado" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Estado</a>

      <a routerLink="Asignacion" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Asignación</a>

      <a routerLink="Pago-valor" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Pago Valor</a>

      <a routerLink="Solicitudes-especiales" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Solicitudes Especiales</a>

      <a routerLink="Ubicacion-expediente" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Ubicacion del expediente</a>

      <a routerLink="Estado-final" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Estado Final</a>

      <a routerLink="Reporte" routerLinkActive="bg-[#bed000] text-white tracking-widest "
        class=" block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Generar Paz Y Salvo</a>

      @if(Rol === 'Admin'){
      <a routerLink="Administrador-usuarios" routerLinkActive="bg-[#bed000] text-white tracking-widest"
        class="block px-2 py-3 shadow hover:bg-[#3535349a] hover:text-white rounded-lg">Usuarios</a>
      }
    </div>

    <a (click)="logout()"
      class="top-6 flex justify-center gap-2 border-2 rounded-xl  items-center text-xl mx-2 mt-10 px-4 py-2 font-semibold capitalize text-[#3535349a] bg-[#35353408]   hover:bg-[#35353423] cursor-pointer text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5"
        stroke="#3535349a" class="" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
        <path d="M9 12h12l-3 -3" />
        <path d="M18 15l3 -3" />
      </svg>
      <span>Cerrar sesión</span>
    </a>

  </div>
</aside>