<section class="max-w-full min-h-auto p-6 mt-5 mx-4 bg-white shadow-md">
  <h2 class="text-lg mb-4 font-semibold text-[#000000e3] uppercase dark:text-white">
    <span class="text-[#0000006c]">
      {{expediente.Numero_Expediente}}
    </span>
  </h2>

  <form [formGroup]="form" (ngSubmit)="actualizarExpediente()">
    <div class="grid grid-cols-2 gap-6 mt-4 sm:grid-cols-3">


      <div>
        <label class="text-gray-900 font-light text-sm" for="motInv">Motivo de investigación</label>
        <select id="motInv" formControlName="Motivo_Investigacion_Id"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
          <option [ngValue]="null"></option>
          @for (item of motivoInvestigacion; track $index) {
          <option value={{item.Id}}>{{item.Descripcion}}</option>
          }
        </select>
      </div>
      <div>
        <label class="text-gray-900 font-light text-sm" for="numInfra">N° de informe de infracción /
          Memorando</label>
        <input id="numInfra" type="text" formControlName="Numero_Informe_Infraccion"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
      </div>

      <div>
        <label class="text-gray-900 font-light text-sm" for="fechH">Fecha de los hechos</label>
        <input id="fechH" type="date" formControlName="Fecha_Hechos"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
      </div>
      <div>
        <label class="text-gray-900 font-light text-sm" for="cadu">Caducidad</label>
        <input id="cadu" type="date" formControlName="Fecha_Caducidad"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
      </div>

      <div>
        <label class="text-gray-900 font-light" for="placa">Placa</label>
        <input id="placa" type="text" formControlName="Placa"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
      </div>
      <div>
        <label class="text-gray-900 font-light text-sm" for="conduc">Conducta (clase de infracción)</label>
        <select id="conduc" formControlName="Clase_Infraccion_Id"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md  focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
          <option [ngValue]="null"></option>
          @for (item of conducta; track $index) {
          <option value="{{item.Id}}">{{item.Descripcion}}</option>
          }
        </select>
      </div>
      <div>
        <label class="text-gray-900 font-light text-sm" for="modali">Modalidad de servicio</label>
        <select id="modali" formControlName="Modalidad_Servicio_Id"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
          <option [ngValue]="null"></option>
          @for (item of modalidadServicio; track $index) {
          <option value="{{item.Id}}">{{item.Descripcion}}</option>
          }
        </select>
      </div>

      <div>
        <label class="text-gray-900 font-light text-sm" for="tipS">Tipo de servicio</label>
        <select id="tipS" formControlName="Tipo_Servicio_Id"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
          <option [ngValue]="null"></option>
          @for (item of tipoServicio; track $index) {
          <option value="{{item.Id}}">{{item.Descripcion}}</option>
          }
        </select>
      </div>

      <div>
        <label class="text-gray-900 font-light text-sm" for="sujS">Sujeto sancionable</label>
        <select id="sujS" formControlName="Sujeto_Sancionable_Id"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md  focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
          <option [ngValue]="null"></option>
          @for (item of sujetoSancionable; track $index) {
          <option value="{{item.Id}}">{{item.Descripcion}}</option>
          }
        </select>
      </div>
      <div>
        <label class="text-gray-900 font-light text-sm" for="tipPN">Tipo de persona natural</label>
        <select id="tipPN" formControlName="Tipo_Persona_Natural_Id"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
          <option [ngValue]="null"></option>
          @for (item of tipoPersonaNatural; track $index) {
          <option value="{{item.Id}}">{{item.Descripcion}}</option>
          }
        </select>
      </div>

      <div>
        <label class="text-gray-900 font-light text-sm" for="nomPN">Nombre de la persona natural</label>
        <input id="nomPN" type="text" formControlName="Nombre_Persona_Natural"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md  focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40  focus:outline-none focus:ring">
      </div>
      <div>
        <label class="text-gray-900 font-light text-sm" for="nitC">Nit o cedula</label>
        <input id="nitC" type="text" formControlName="Identificacion"
          class="block w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md  focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
      </div>

    </div>

    <div class="flex justify-end mt-6">
      <button [disabled]="!form.valid" [class]="!form.valid ? 'cursor-not-allowed' : ''"
        class="px-8 py-2.5 leading-5 rounded text-white transition-colors duration-300 transform bg-[#7fb91adc] hover:bg-gray-600 focus:outline-none focus:bg-gray-600">
        Actualizar
      </button>
    </div>
  </form>
</section>
<section class="relative overflow-x-scroll mx-4 mt-2 shadow-md bg-white">
  <table class="w-full  text-left rtl:text-right text-gray-500 border">
    <thead class="text-sm  bg-gray-100">
      <tr class="text-white  bg-[#bfd00024]">
        <th scope="col" class="px-6 py-3 whitespace-nowrap sticky top-0 left-0 z-10 bg-white text-gray-700">
          N° Expediente
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center  text-gray-700">
          Motivo de investigación
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° de informe de infracción / Memorando
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha de los hechos
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Caducidad
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Placa
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Conducta (clase de infracción)
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Modalidad de servicio
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Tipo de servicio
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Sujeto sancionable
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Tipo de persona natural
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Nombre de la persona natural
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Nit o cedula
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha de Resolución
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha de Notificación
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha maxima descargos
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Radicado
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha de Radicado
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha de Resolución
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha de Comunicación
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Auto de Pruebas
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha Auto de Pruebas
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha Comunicacion Auto de Pruebas
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Auto de Traslado
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha Auto Traslado
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha Comunicacion Auto Traslado
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha Terminos Alegatos
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Radicado Alegatos
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          Fecha Radicado Alegatos
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-center text-gray-700">
          N° Resolucion
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-gray-100">
        <th scope="col" class="px-6 py-3 sticky top-0 left-0 z-10 bg-white">
          224343
        </th>

        <td class="px-6 py-4 text-cente">
          <span class="text-gray-900">memorando</span>
        </td>
      </tr>

    </tbody>
  </table>
</section>
