@if(descargar == true){

<section class="w-full h-screen bg-white flex flex-col justify-center items-center">

  <button class="absolute top-0 right-0 m-4" (click)="volver()">
    Volver
  </button>
  <button (click)="downloadPDF(expediente, estado, sujeto)"
    class="size-20 transition-all duration-300 hover:bg-neutral-300 rounded-md " aria-label="Rescargar Reporte"
    alt="Descargar Reporte" title="Descargar Reporte">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M12 15.9853L15.182 12.8033L14.1213 11.7427L12.75 13.114L12.75 5.25L11.25 5.25L11.25 13.114L9.8787 11.7427L8.81804 12.8033L12 15.9853ZM12 13.864L12 13.864L12.0001 13.864L12 13.864Z"
        fill="#080341" />
      <path d="M18 17.25L18 18.75L6 18.75L6 17.25L18 17.25Z" fill="#080341" />
    </svg>
  </button>
  <h3>Descargar Reporte </h3>
</section>

}@else{
<section class="w-full h-screen bg-white flex justify-center items-center">
  <form class="w-full flex justify-center items-center" [formGroup]="form" (ngSubmit)="Buscar()">
    <div class="flex flex-col gap-4 w-50 shadow p-8">
      <div class="flex justify-center gap-4">
        <h1 class="text-2xl font-bold text-[#bed000] dark:text-white">Generar Reporte</h1>
      </div>
      @if(flag){
      <span class="text-red-300 text-sm">Todos los datos son requeridos</span>
      }
      <div>
        <label for="tipoBusqueda" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de
          Búsqueda</label>
        <select id="tipoBusqueda" formControlName="TipoBusqueda"
          class="w-full px-4 py-2 mt-2 text-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#bed000] focus:ring-[#bed000] focus:ring-opacity-40 focus:outline-none focus:ring">
          <option></option>
          <option [value]="'Placa'">PLACA</option>
          <option [value]="'IUIT'">IUIT</option>
          <option [value]="'Numero_Resolucion'">N° RESOLUCIÓN</option>
        </select>
      </div>
      <div>
        <label for="N°" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">N°</label>
        <input type="text" id="N°" formControlName="Numero_Busqueda"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required />
      </div>
      <div>
        <label for="name" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del
          Solicitante</label>
        <input type="text" id="name" formControlName="Nombre_Solicitante"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required />
      </div>
      <div>
        <label for="nit" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Nit o cédula</label>
        <input type="int" max="10" id="nit" formControlName="Nit_Solicitante"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required />
      </div>
      <div class="flex justify-center mt-4">
        <button
          class="block px-8 py-2 text-sm font-medium text-white bg-[#bed000] border border-[#bed000] rounded-md hover:bg-[#bed000] hover:border-[#bed000] focus:outline-none focus:ring focus:ring-[#bed000] focus:ring-opacity-40">Buscar</button>
      </div>
    </div>
  </form>
</section>
}