<section class="relative overflow-x-scroll mx-4 mt-2 shadow-xl bg-white no-scrollbar">
  <table class="w-full  text-left rtl:text-right text-gray-500 border-l-4-black-200" border="1px">

    <tr class="bg-[#262625ae] text-white text-sm font-extralight uppercase">
      <th scope="col" class="px-6 py-3 whitespace-nowrap sticky top-0 left-0 z-10 bg-[#4c4c4c] border ">
        N° Expediente
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Motivo de investigación
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        N° de informe de infracción / Memorando
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de los hechos
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center  border">
        Caducidad
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center  border">
        Placa
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center  border">
        Conducta (clase de infracción)
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center  border">
        Modalidad de servicio
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Tipo de servicio
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Sujeto sancionable
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Tipo de persona natural
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Nombre de la persona natural
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Nit o cedula
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        N° Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de Resolución
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de Notificación
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha maxima descargos
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        N° Radicado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de Radicado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        N° Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de Resolución
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de Comunicación
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        N° Expediente Acumulado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        N° Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de Resolución
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha de Comunicación
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        N° Auto de Pruebas
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border ">
        Fecha Auto de Pruebas
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center  border">
        Fecha Comunicacion Auto de Pruebas
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Auto de Traslado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Auto Traslado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Comunicacion Auto Traslado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Terminos Alegatos
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Radicado Alegatos
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Radicado Alegatos
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Radicado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Radicado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Sentido de Fallo
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Valor de sancion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Notificacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha max para recursos
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Radicado contra Fallo
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        fecha de Radicado contra Fallo
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Tipo de recurso
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° resolucion Recurso
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Notificacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Decisión
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Valor de sancion Modificado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Envio Segunda Instancia
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Memorando Envio
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Resolucion Recurso Apelacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Resolucion Recurso Apelacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Notificacion Resolucion Recurso Apelacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Decision de segunda instancia
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Devolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Valor Sancion Modificado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Resolucion Silencio Administrativo
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Recurso Queja Revocatoria
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Radicado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Radicado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Notificacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Decision
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Ejecutoria
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Envio
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Tipo Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        N° Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha Resolucion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Notificacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Estado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Nombre del Abogado
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Asignación
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Recibo de Pago
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Valor
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Solicitudes Especiales
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Tipo Ubicacion
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Fecha de Entrega
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-center border">
        Estado Final
      </th>
    </tr>


    <tbody>
      <tr class="bg-gray-100">
        <th scope="col" class="px-6 py-3 sticky whitespace-nowrap top-0 left-0 z-10 uppercase bg-white">
          {{expedientetabla.Numero_Expediente}}
        </th>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Motivo_Investigacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Informe_Infraccion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Hechos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Caducidad | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Placa}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Clase_Infraccion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Modalidad_Servicio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Tipo_Servicio}}

        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Sujeto_Sancionable}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Tipo_Persona_Natural}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Nombre_Persona_Natural}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Identificacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Resolucion_Apertura}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Apertura | date:'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Notificacion_Apertura | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Max_Descargos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_radicado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Radicado_Apertura | date: 'dd/MM/yyyy' :'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Resolucion_Inhibitorio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Inhibitorio | date: 'dd/MM/yyyy' :'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Comunicacion_Inhibitorio | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Exp_Acumulado_Auto_Acumulacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Resolucion_Auto_Acumulacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Auto_Acumulacion | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Comunicacion_Auto_Acumulacion | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Auto_Pruebas}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Auto_Pruebas | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Comunicacion_Auto_Pruebas | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Auto_Traslado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Auto_Traslado | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Comunicacion_Auto_Traslado | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Terminos_Alegatos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Radicado_Alegatos}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Radicado_Alegatos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Radicado_Aceptacion_Cargos}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Radicado_Aceptacion_Cargos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Resolucion_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Sentido_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Valor_Sancion_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Notificacion_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Max_Para_Recursos_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Numero_Radicado_Contra_Fallo_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Radicado_Contra_Fallo_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Tipo_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Resolucion_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Recurso_Primera_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Notificacion_Recurso_Primera_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Decision_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Valor_Sancion_Modificado_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Envio_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Memorando_Envio_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Resolucion_Recurso_Apelacion_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Rec_Apel_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Notificacion_Resolucion_Rec_Apel_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Decision_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Devolucion_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Valor_Sancion_Modificado_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Resol_Silencio_Administrativo_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Recurso_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Radicado_Rec_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Radicado_Rec_Queja_Revocatoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Resolucion_Rec_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Rec_Queja_Revocatoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Notificacion_Rec_Queja_Revocatoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Decision_Rec_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Ejecutoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Envio_Gestion_Cobro | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Tipo_Resolucion_Ajuste_Derecho_Aclaratorio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.No_Resolucion_Ajuste_Derecho_Aclaratorio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Resolucion_Ajuste_Derecho_Aclaratorio | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Notificacion_Ajuste_Derecho_Aclaratorio | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Tipo_Estado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Nombre_Abogado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla.Fecha_Asignacion_Asignacion | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla.Recibo_Pago_Pago_Valor}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla.Valor_Pago_Valor}}
        </td>
        <td class="px-6 py-4 text-nowrap max-w-4 overflow-hidden text-ellipsis hover:text-wrap">
          {{ expedientetabla.Solicitudes_Especiales}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla.Tipo_Ubicacion_Expediente}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla.Fecha_Entrega_Ubicacion_Expediente | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla.Tipo_Estado_Final}}
        </td>

      </tr>

    </tbody>
  </table>
</section>