<section class="relative overflow-x-scroll mx-4 mt-2 shadow-xl bg-white no-scrollbar">
  <table class="w-full  text-left rtl:text-right text-gray-500 border-l-4-black-200" border="1px">

    <tr class="bg-[#2626256d] text-white text-sm font-normal uppercase">
      <td scope="col" class="px-6 py-4 whitespace-nowrap sticky top-0 left-0 z-10 bg-[#4c4c4c] border ">
        NÚMERO DE EXPEDIENTE
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        MOTIVO DE INVESTIGACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        NÚMERO DE INFORME DE INFRACCIÓN / MEMORANDO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        FECHA DE LOS HECHOS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c]  border">
        CADUCIDAD
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c]  border">
        PLACA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c]  border">
        CONDUCTA (clase de infracción)
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c]  border">
        MODALIDAD DE SERVICIO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        TIPO DE SERVICIO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        SUJETO SANCIONABLE
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        TIPO DE PERSONA NATURAL
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        NOMBRE DE LA PERSONA NATURAL
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        NIT O CÉDULA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        N° RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        FECHA DE RESOLUCIÓN

      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        FECHA DE NOTIFICACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        TÉRMINO MÁXIMO PARA PRESENTAR DESCARGOS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        N° RADICADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        FECHA RADICADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        N° RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        FECHA DE RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        FECHA DE COMUNICACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        N° DE EXP ACUMULADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        N° RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        FECHA DE RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border ">
        FECHA DE COMUNICACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        N° AUTO DE PRUEBAS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border ">
        FECHA AUTO DE PRUEBAS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c]  border">
        FECHA COMUNICACIÓN AUTO DE PRUEBAS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° AUTO DE TRASLADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA AUTO DE TRASLADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA COMUNICACIÓN AUTO DE TRASLADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        TÉRMINOS PARA PRESENTAR ALEGATOS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° RADICADO ALEGATOS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA RADICADO ALEGATOS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        N° RADICADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA RADICADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° RESOLUCIÓN DE FALLO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA RESOLUCIÓN DE FALLO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        SENTIDO DEL FALLO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        VALOR SANCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA DE NOTIFICACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA MÁXIMA PARA PRESENTAR RECURSOS
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° DE RADICADO RECURSO CONTRA FALLO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA RADICADO RECURSO CONTRA FALLO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        TIPO DE RECURSO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        N° DE RESOLUCIÓN DE RECURSO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA DE RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA DE NOTIFICACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        DECISIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        VALOR DE LA SANCIÓN MODIFICADO POR RECURSO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA DE ENVÍO A SEGUNDA INSTANCIA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° DE MEMORANDO DE ENVÍO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° RESOLUCIÓN RECURSO DE APELACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA RESOLUCIÓN RECURSO DE APELACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        NOTIFICACIÓN RESOLUCIÓN RECURSO DE APELACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        DECISIÓN SEGUNDA INSTANCIA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA DE DEVOLUCIÓN DE SEGUNDA INSTANCIA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        VALOR DE LA SANCIÓN MODIFICADO POR SEGUNDA INSTANCIA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° RESOLUCIÓN DE SOLICITUD DE RECONOCIMIENTO DEL SILENCIO ADMINISTRATIVO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        RECURSO DE QUEJA O REVOCATORIA DIRECTA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        N° RADICADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA DE RADICADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        N° RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA DE RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA DE NOTIFICACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        DECISIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA DE EJECUTORIA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA DE ENVÍO EXPEDIENTE GESTIÓN DE COBRO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        TIPO DE RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        N° RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA DE RESOLUCIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA DE NOTIFICACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        ESTADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        ASIGNADO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        FECHA ASIGNACIÓN
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        SOLICITUDES ESPECIALES
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        RECIBOS DE PAGO
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        VALOR
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        UBICACIÓN FÍSICA DEL EXPEDIENTE
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center border">
        FECHA DE ENTREGA
      </td>
      <td scope="col" class="px-6 py-4 whitespace-nowrap text-center bg-[#4c4c4c] border">
        ESTADO FINAL
      </td>
    </tr>


    <tbody>
      <tr class="bg-gray-100 font-semibold">
        <th scope="col" class="px-6 py-1 sticky whitespace-nowrap top-0 left-0 z-10 uppercase bg-white">
          {{expedientetabla().Numero_Expediente}}
        </th>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Motivo_Investigacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Informe_Infraccion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Hechos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Caducidad | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Placa}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Clase_Infraccion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Modalidad_Servicio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Tipo_Servicio}}

        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Sujeto_Sancionable}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Tipo_Persona_Natural}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Nombre_Persona_Natural}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Identificacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Resolucion_Apertura}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Apertura | date:'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Notificacion_Apertura | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Max_Descargos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_radicado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Radicado_Apertura | date: 'dd/MM/yyyy' :'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Resolucion_Inhibitorio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Inhibitorio | date: 'dd/MM/yyyy' :'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Comunicacion_Inhibitorio | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Exp_Acumulado_Auto_Acumulacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Resolucion_Auto_Acumulacion}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Auto_Acumulacion | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Comunicacion_Auto_Acumulacion | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Auto_Pruebas}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Auto_Pruebas | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Comunicacion_Auto_Pruebas | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Auto_Traslado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Auto_Traslado | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Comunicacion_Auto_Traslado | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Terminos_Alegatos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Radicado_Alegatos}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Radicado_Alegatos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Radicado_Aceptacion_Cargos}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Radicado_Aceptacion_Cargos | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Resolucion_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Sentido_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Valor_Sancion_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Notificacion_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Max_Para_Recursos_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Numero_Radicado_Contra_Fallo_Fallo}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Radicado_Contra_Fallo_Fallo | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Tipo_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Resolucion_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Recurso_Primera_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Notificacion_Recurso_Primera_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Decision_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Valor_Sancion_Modificado_Recurso_Primera_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Envio_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Memorando_Envio_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Resolucion_Recurso_Apelacion_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Rec_Apel_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Notificacion_Resolucion_Rec_Apel_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Decision_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Devolucion_Segunda_Instancia | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Valor_Sancion_Modificado_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Resol_Silencio_Administrativo_Segunda_Instancia}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Recurso_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Radicado_Rec_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Radicado_Rec_Queja_Revocatoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Resolucion_Rec_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Rec_Queja_Revocatoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Notificacion_Rec_Queja_Revocatoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Decision_Rec_Queja_Revocatoria}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Ejecutoria | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Envio_Gestion_Cobro | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Tipo_Resolucion_Ajuste_Derecho_Aclaratorio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().No_Resolucion_Ajuste_Derecho_Aclaratorio}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Resolucion_Ajuste_Derecho_Aclaratorio | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Notificacion_Ajuste_Derecho_Aclaratorio | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Tipo_Estado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Nombre_Abogado}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{expedientetabla().Fecha_Asignacion_Asignacion | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 text-nowrap max-w-4 overflow-hidden text-ellipsis hover:text-wrap">
          {{ expedientetabla().Solicitudes_Especiales}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla().Recibo_Pago_Pago_Valor}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla().Valor_Pago_Valor}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla().Tipo_Ubicacion_Expediente}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla().Fecha_Entrega_Ubicacion_Expediente | date: 'dd/MM/yyyy':'UTC'}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          {{ expedientetabla().Tipo_Estado_Final}}
        </td>

      </tr>

    </tbody>
  </table>
</section>